:root {
  --blanco: #ffffff;
  --gris1: #f1f1f1;
  --rojo2: #DF1A22;
  --gris3: #2d1a1a;
  --negro: #000000;
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Roboto', sans-serif;
}
*{
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; 
}
body {
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 1.6rem;
  font-weight: 500;
  font-family: var(--headingFont);
}
header{
  background-color: var(--gris3);
  min-height: 8vh;
}
.logo{
  width: 90%;
}
h4{
  font-size: 1.4rem;
  font-family: var(--textFont);
  font-weight: 900;
}
h2{
  font-size: 3.6rem;
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0;

}
h3{
  font-size: 2.6rem;
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 15px 0;

}
main h2{
  margin: 30px 0;
}
.alert{
  margin: 20px 0
}
header .container{
  display: flex;
  height: 8vh;
  align-items: center;
}
header .container h3{
  color: var(--blanco);
  font-family: var(--textFont);
  font-weight: bold;
  margin: 0;
  font-size: 2rem;
}
.material-icons{
  vertical-align: middle;
}
.container-logo{
  /* float: left; */
}
label{
  font-weight: bold;
}
.container-redes{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.item2{
  grid-column-start:1 ;
  grid-column-end:5 ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbotron{
  
  background: #fff url('./img/fondo.png') no-repeat;
  background-size: 100%;
  background-position-y: 90%;
  margin: 0;
  min-height: 400px;

}
.nav .container{
  display: flex;
}
.container.jumbo{
  display: grid;
  grid-template-columns: 70% 30%;
}
.item{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
main .container.not{
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 20px;
  background-color: var(--blanco);
}
.container.nuevoar{
  background-color: var(--blanco);
  
}
.form-nuevo-articulo{
  background-color: var(--blanco);
  padding: 0 20px;

}
.container-form{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 15px;
}
.container-detalle{
  display: grid;
  grid-template-columns: 60% 40%;
}

main .container.not .container-noticias h4{
  font-size: 3.4rem;
  opacity: .8;
  font-weight: 600;
  margin: 30px 0 15px 0;
}
main .container.not .container-extra{
  padding: 0 20px;
}
.card-header.extra{
  text-align: center;
  background-color: #343A40;
  color: white;
  font-family: var(--textFont);
  font-weight: 600;
  font-size: 1.9rem;
}
.info-noticia{
  background-color: var(--rojo2);
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  padding: 5px 0;
  
}
.container-login a{
  color: var(--negro);
  background-color: white;
  border-radius: 20%;
}
.collapse {
  justify-content: space-between;
}
.info-noticia p{
  margin: 0;
  color: white;
  font-family: var(--textFont);
  font-weight: 600;
}
.card .card-body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  /* max-height: 350px; */
  /* height: 350px; */
}

.card .card-body img{
  width: 100%;
  /* height: 100%; */
  max-height: 350px;
}

footer{
  background-color: #343A40;
  min-height: 20vh;
}
footer h2{
  color: var(--blanco);
}
.intro{
  padding: 20px 0;
}
.btn{
  font-size: 1.5rem;
  margin: 20px 0;
  font-weight: 500;
  /* background-color: var(--rojo2); */
  border: none;
}

.btn:hover{
  
  /* background-color: var(--rojo2); */
}
.card.log{
  width: 60%;
}
.card.log .card-header{
  text-align: center;
  font-size: 2.0rem;
  color: white;
  font-family: var(--textFont);
  font-weight: bold;
  background-color: var(--rojo2);
}
.card.log .card-body form{
  padding: 20px;
  width: 100%;
}

.comentario{
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 0 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(109, 109, 109, 0.2);
}
.comentario p{
  padding: 10px 0;
}
.comentario img{
  grid-row-start: 1;
  grid-row-end: 3;
}
.comentario .info{
  display: flex;
  flex-direction: column;
}
.container-img-articulo figure img{
width: 100%;
}
.form-control{
  font-size: 14px;
  font-family: var(--textFont);
}
.btn.btn-danger.cancel{
  margin-left: 20px;
}
.container.recu{
  background: white;
}
.container.recu h2{
  margin: 0;
  padding: 20px 0;
}

main .container.recu .container-recursos{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  column-gap: 15px;
  row-gap: 15px;
  padding: 20px 0;
  
}
.container-recurso{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 15px;
  padding: 20px 0;
  
}
.informacion-tic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.informacion-tic img{
  width: 25%;
}
.enlace-recurso{
  margin: 20px 0;
  display: block;
  border-radius: 10px;
  background-color: var(--gris1);
  text-align: center;
  transition: .8s;
  padding: 10px;
  width: 100%;
  border: none;
  text-decoration: none;
  color: var(--rojo2);
  font-weight: bold;
  
}
.enlace-recurso:hover{
  text-decoration: none;
  background-color: var(--rojo2);
  color: white;
  
}
.material-icons.a{
  vertical-align: bottom;
  margin-left: 5px;
}


.card.recur{
  min-height: 200px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 5px 5px 0.5px rgba(0, 0, 0, 0.5);
}
    
.card.recur .card-header{
  background-color: var(--rojo2);
  border-radius: 15px 15px 0 0;
}
      
.card.recur .card-body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  
}
.card.recur .card-body img{
  /* position: absolute; */
  z-index: 5;
  width: 70%;
  opacity: 1;
  transition: .6s;
}
.card.recur .card-body .parte-atras{
  position: absolute;
  background-color: #df1a21c4;
  height: 200px;
  border-radius: 11px 11px 15px 15px;
  transition: .6s;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
  flex-direction: column;
  top: 0;
  /* z-index: 6;
  opacity: 1; */
}
.card.recur .card-body .parte-atras p{
  margin: 0;
}
.card.recur .card-body:hover .parte-atras{
  z-index: 6;
  opacity: 1;
}
.card.recur .card-body:hover img{
  opacity: .8;
}
/* .btn.btn-primary.active{
  background: red;
} */
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #DF1A22;
  border-color: #005cbf;
}

input[type=radio]{
  /* display: block; */
  background: red;
  width: 50px;
}

/**/
.donate{
  width: 100%;
}
.donate label {
  margin: 0 4px;
  background-color: #343A40;
  color: white;
  border-radius: 4px;
  border: 1px solid #D0D0D0;
  overflow: hidden;
  cursor: pointer;
  font-family: var(--textFont);
  /* padding: 5px 10px; */
}

.donate label span {
  text-align: center;
  font-size: 14px;
  padding: 3px 15px;
  display: block;
}

.donate input {
  padding: 5px;
}
.donate label input {
  position: absolute;
  opacity: 0;
  /*top: -20px;*/
  
}

.donate input:checked+span {
  background-color: var(--rojo2);
  color: #F7F7F7;
}
.container-paginacion{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.btn.btn-primary.anterior{
  margin-right: 15px;
}
.nav-item.active{
  border-right: 1px solid red;
}
.nav-item.active:hover{
  
  background: rgba(255, 87, 87, 0.205)
}

/*ENTREVISTAS*/
.container-entrevistas{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 10px 0;
  column-gap: 50px;
  row-gap: 50px;
}
.container-entrevistas .card .card-body{
  display: grid;
  grid-template-columns: 40% 60%;
  
}
.container-entrevistas .card .card-footer{
  background-color: var(--rojo2);
  text-align: right;
}
.container-entrevistas .card .card-body figure{
  margin: 0;
  border: 1px solid rgba(0, 0, 0, .2);
  box-sizing: content-box;
}
.container-entrevistas .card .card-body .palabras{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container-entrevistas .card .card-body .palabras p{
  padding: 0 5px;
  text-align: center;
  font-family: var(--textFont);
  font-size: 1.4rem;
  margin: 0;
}
.container-entrevistas .card .card-body .palabras .nombre-entrevista{
  position: absolute;
  bottom: 0;
  right: 5px;
  font-family: var(--headingFont);
  font-weight: 900;
  
}
.container-entrevistas .card .card-footer button{
  margin: 0;
  background-color: var(--blanco);
  color: rgb(66, 66, 66);
  font-weight: bold;
}
/**/

.sombra{
  box-shadow: 0px 5px 5px 0.5px rgba(0, 0, 0, 0.5);
}

.container-img-recurso .card{
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 200px;
}
.container-img-recurso .card .card-header{
  background-color: var(--rojo2);
}
.container-img-recurso .card .card-body figure{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}
.container-img-recurso .card .card-body figure img{
  width: 60%;
}
.container-img-recurso .card .card-body .parte-atras{
  position: absolute;
  top: 0;
  right: 0;
  background: #df1a21c4;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: bold;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
}

.container-img-recurso .card:hover .parte-atras{
  opacity: 1;
  visibility: visible;
}
.container-img-recurso .card .card-body .parte-atras p{
  text-align: center;
  max-width: 100%;
  font-size: 12px;
  margin: 0;
}

footer{
  position: relative;
}
.footer-feet{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #606c77;
}
.footer-feet h4{
  text-align: center;
  color: white;
  margin: 0;
  padding: 20px 0;
}


